* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif !important;
}
a,
a:hover {
    text-decoration: none;
    font-family: 'Poppins', sans-serif !important;
}
.font-theme {
    font-family: 'Poppins', sans-serif !important;
}
.ptnc h4, .ptnc p {
    margin: .8rem 0;
}
.serviceImage{
    width: 20%;
    height: auto;
}
#promap_image{
    width: 50%;
    height: auto;
}
.textalign{
    text-align: right;
}
.imagealign{
    float: right;
}
.Or{
    padding: 13px;
}
/* external */
@media only screen and (max-width: 499px) {
    .textalign{
        text-align: left;
    }
    .imagealign{
        float: left;
    }
    #promap_image{
        width: 30%;
        height: auto;
    }
    .serviceImage{
        width: 35%;
        height: auto;
    }
  .login-text {
    font-size: 14px;
    margin-left: 53px;
  }
  .kol{
    margin-left: 98px;
  }
  .signin{
    margin-left: 20px;
  }
  .Or{
    padding: 4px;
  }
}
.edit-profile {
    height: 20px;
    width: 20px;
    font-size: 12px;
    box-shadow: 3px 4px 1px #ddd;
    color: #a3a7b1;
    cursor: pointer;
    left: 0;
    right: 0;
}
.edit-profile:hover {
    color: #000;
}
.has-error{
    border:1px solid red;
}
.overlay {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #222222c4;
    z-index:999999;
    display: none;
}

.overlay__inner {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.overlay__content {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.spinner {
    width: 75px;
    height: 75px;
    display: inline-block;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.05);
    border-top-color: #fff;
    animation: spin 1s infinite linear;
    border-radius: 100%;
    border-style: solid;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.modal-footer {
    width: 100%;
}
.modal-body {
    width: 100%;
}

/*Common*/
.shadow {
    box-shadow: 2px 2px 10px #e0e0e0;
}
.custom-control-inline {
    padding-left: 2.5rem;
}
.custom-control-label{
    font-size: 30px;
}
.custom-radio .custom-control-label::before {
    width: 2rem;
    height: 2rem;
    border: 1px solid transparent;
    box-shadow: 0 2px 4px #c7c6c6;
    background-color: #fff;
    top: 6px;
    left: 0;
}
.custom-control-label::after {
    width: 2rem;
    height: 2rem;
    top: 6px;
    left: 0;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::before,
.custom-control-input:checked ~ .custom-control-label::before {
    top: 6px;
    left: 0;
    background-color: #fff;
    color: #f18933;
    box-shadow: 0px 1px 2px transparent;
    border: 3px solid #a09b96;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    height: 16px;
    width: 16px;
    position: absolute;
    top: 6px;
    left: 0;
    transform: translate(7.8px, 8px);
    background: #f18933;
    border-radius: 50%;
}

#main {
    width: 100%;
    height: auto;
}

.footer-logo {
    width: 160px;
    height: 100px;
}

.bg-header {
    /*background-color: #e6e6e6;*/
    background-color: #f1f1f1;
}

.border-herder {
    border-color: #e6e6e6;
}

#footer {
    width: 100%;
    height: auto;
    padding: 50px 0;
    background-color: #fff;
}

.rounded-border {
    border-radius: 15px !important;
}

.list-group-horizontal {
    -ms-flex-direction: row;
    flex-direction: row;
}

.footer .list-group-item {
    padding: 7px 13px;
    height: 40px;
    width: 40px;
    border-color: #828282;
}

.footer .list-group-item:hover {
    background-color: #000000;
    color: #fff;
}

.btn-light {
    color: #6d777d !important;
    background-color: #f8f9fa0a !important;
    border-color: #f8f9fa00 !important;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 115px;
}

.bootstrap-select > .dropdown-toggle {
    height: inherit;
}

.nav-link .btn-light {
    background-color: transparent !important;
    color: #000 !important;
    outline: 0;
    border: 0;
}

.nav-link .btn-light:not(:disabled):not(.disabled).active:focus,
.btn-light:not(:disabled):not(.disabled):active:focus,
.show > .btn-light.dropdown-toggle:focus,
.nav-link .btn-light.focus,
.btn-light:focus {
    outline: 0;
    border: 0;
    box-shadow: 0 0 0 0.2rem transparent;
}

.left-nav-active a {
    color: #f18933 !important;
}

.right-nav-active img {
    filter: drop-shadow(2px 1px 1px #f18933);
}

.right-nav-active a {
    color: #f18933 !important;
}

.text-footer {
    color: #828282 !important;
}


.inset-input {
    height: 65px !important;
}

.select-box {
    border: 1px solid #ced4da !important;
}

.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
    padding: 10px 0 0 10px;
}

.bootstrap-select>.dropdown-toggle:after {
    margin: 0 10px 0 0 !important;
}

.border-right-footer {
    border-right: 1px solid #b4b4b4;
}

.btn-lrg {
    border-radius: 7px;
    height: 65px;
    width: 250px;
    font-weight: bold;
    font-size: larger;
}

.btn-lrg-banner {
    border-radius: 7px;
    height: 65px;
    width: 200px;
    font-weight: bold;
    font-size: larger;
}
.btn-lrg-banner img {
    height: 40px;
    width: 32px;
}
.btn-lrg-banner:hover, .btn-lrg:hover {
    opacity: 0.8;
}

.form-control, .input-group-text {
    border-radius: 7px;
}

.form-control:focus {
    border-color: #f18933;
    box-shadow: 0 0 0 0.2rem transparent;
}

.form-control:focus .input-group-text {
    border-color: #f18933 !important;
}

.btn-success-theme {
    border-radius: 35px;
    background-color: #f18933;
}
.btn-muted-theme {
    border-radius: 35px;
    background-color: #8a8683;
}

.btn-success-theme-outline {
    border-radius: 35px;
    border: 1px solid #f18933;
    background-color: #ffffff;
}

.text-success-theme {
    color: #f18933;
}

.modal-content {
    border-radius: 10px;
    box-shadow: 0 0 6px #afafaf;
    border: 0;
}

.sidebar,
.sidebar-wp {
    display: block;
}
.side-nav-active {
    background-color: #f18933 !important;
}
.side-nav-active {
    color: #fff !important;
}

.list-group.sidebar  {
    background-color: #e6e6e6;
    padding-top: 20px;
}

.sidebar .list-group-item {
    width: 100%;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0;
    background-color: #e6e6e6;
    padding: 20px 30px;
}
.sidebar .list-group-item a {
    color: #000;
}
.sidebar .list-group-item a:hover {
    color: #a3a7b1;
}
.li-icon {
    width: 24px;
    height: 24px;
}
.li-icon-sm {
    width: 14px;
    height: 14px;
}

.banner {
    width: 100%;
    height: auto;
    background: url("../img/banner.jpg") no-repeat right -100px;
    background-size: cover;
    position: relative;
}

.contact_banner {
    width: 100%;
    height: auto;
    background: url("../img/banner_contact.jpg") no-repeat center;
    background-size: cover;
    position: relative;
}
.about_banner {
    width: 100%;
    height: auto;
    background: url("../img/banner_about.jpg") no-repeat center;
    /*background-size: cover;*/
    position: relative;
}

@media (max-width: 767px) {
    .banner {
        background-size: cover;
        background: url(../img/banner.jpg) no-repeat -1135px -110px;
    }
}

.banner h1 {
    font-size: 3.5rem;
}
.banner h2 {
    font-size: 3rem;
    color: #5c6265;
}
.banner h4 {
    color: #5c6265;
}

.btn-store {
    border: 0;
    border-radius: 20px;
    background: linear-gradient(120deg, #050505, #a29e9e);
}
.btn-store:hover {
    opacity: .8;
}

.about h1, .process h1, .analysis h1  {
    font-size: 5rem;
    letter-spacing: 4px;
}

.about h2, .process h2, .analysis h2 {
    /* color: #5c6265; */
    font-size: 3rem;
    letter-spacing: 4px;
}

.about h5, .process h4, .analysis h4 {
    color: #5c6265;
} 

.about h1 {
    font-size: 4rem;
    letter-spacing: 4px;
}

.feature-md {
    position: absolute;
}

.process {
    width: 100%;
    height: auto;
    background-color: #f7f7f7;
    position: relative;
}

.process-div {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 0 10px #dddbdb;
}

.process .feature-icon:hover {
    background-color: #f18933 !important;
    cursor: pointer;
}
.process .feature-icon:hover img {
    filter: invert(1);
}

.analysis {
    width: 100%;
    height: auto;
    background: url("../img/analysis.png") no-repeat fixed center;
    background-size: inherit;
    position: relative;
}

.analytics-divider {
    border-bottom: 1px dashed #828282;
    position: relative;
}

.analytics-divider .ellipse {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    bottom: -10px;
}

.book-from-app {
    width: 100%;
    height: auto;
    background: url("../img/book_form_app.png") no-repeat fixed center;
    background-size: inherit;
    position: relative;
}

.use-buttons {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    box-shadow: 0 3px 10px #dadadaa6;
    position: absolute;
    bottom: 91px;
    right: -258px;
    border-radius: 7px;
}

.book-from-app h1 {
    letter-spacing: 4px;
}

.footer-bottom-icon {
    display: flex;
    justify-content: center;
    width: 165px;
    height: 165px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #828282;
    position: relative;
}

.footer-bottom-icon:hover {
    cursor: pointer;
    border: 1px solid #f18933;
} 

.footer-bottom-icon img {
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.subscribe {
    width: 100%;
    height: auto;
    background: url("../img/subscribe_bg.png") no-repeat center;
    background-size: cover;
    position: relative;
}

#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #f18933; 
    color: white; 
    cursor: pointer; 
    padding: 15px 20px; 
    border-radius: 50%; 
    font-size: 18px;
  }
  
  #myBtn:hover {
    background-color: #ec944c; 
  }

@media (max-width: 999px) {
    .sidebar, .sidebar-wp {
        display: none;
    }

    .logo {
        width: 200px;
        height: 80px;
    }

    .border-right-footer {
        border-right: 1px solid transparent;
    }
    .banner {
        background-size: cover;
    }
    .banner h1,
    .book h1, .about h1,
    .process h1, .analysis h1 {
        font-size: 2rem;
    }
    .book h1 {
        letter-spacing: 2px;
    }
    .work h1, #bookingRequestForm h1
    .banner h2, .about h2, .process h2, .analysis h2, .use-buttons h2 {
        font-size: 1.5rem;
    }
    .work h5,
    .banner h3, .about h3, .process h3, .analysis h3, .use-buttons h3 {
        font-size: 1rem;
    }
    .work p {
        font-size: 12px;
    }
    .feature-md {
        position: relative;
    }

    .process-div {
        width: 150px;
        height: 150px;
    }
    .process-div img {
        width: 40px;
    }
    .process-div h4 {
        font-size: small;
    }
    .process-arrow {
        top: 51px;
        right: -22px;
    }
    .use-buttons {
        right: 0;
        bottom: 0;
    }
}

@media (max-width: 699px) {
    .logo {
        width: 140px;
        height: 70px;
    }
    .process-div {
        width: 250px;
        height: 250px;
    }
    .process-div img {
        height: auto;
        width: auto;
    }
    .process-div h4 {
        font-size: larger;
    }
    .process-arrow {
        top: 247px;
        right: 0;
        transform: rotate(90deg);
    }
}